<div class="form-container">
  <h1>Login</h1>
  <form [formGroup]="loginform" (ngSubmit)="submitlogin()">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input type="text" matInput placeholder="Ex. pat@example.com" formControlName="email" />
      <mat-error *ngIf="email?.errors?.['required']">Email required</mat-error>
      <mat-error *ngIf="email?.errors?.['email']">Invalid Email</mat-error>
    </mat-form-field>
    <mat-form-field >
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="password" formControlName="password" />
      <mat-error *ngIf="password?.errors?.['required']">Email required</mat-error>
    </mat-form-field>
        <div class="center margin-top">
            <button class="loginbtn" mat-raised-button color="basic" type="submit">Login</button>
            <span class="margin-top" style="text-align: center;">New to our App? <a routerLink="/sign-up">SignUp</a></span>
        </div>
   
  </form>
</div>
